<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div th:each="element : ${post}" class="alert alert-info mt-2">
        <h1 th:text="${element.title}"></h1>
        <p th:text="${element.full_text}"></p>
        <p th:text="${element.views}"></p>
<!--        <p><b>Просмотры</b> <span th:text="${element.views"/></p> почему-то не работает. сделано через BlogController.blogOpen-->
        <a th:href="'/blog/' + ${element.id} + '/edit'"  class="btn btn-warning">Редактировать</a>
        <form th:action="'/blog/' + ${element.id} + '/remove'"><br>
            <button class="btn btn-warning" type="submit">Удалить</button>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>