<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Блог сайта</h1>

    <form action="filter" method="get">
        <input type="text" name="filter" placeholder="Search" class="form-control">  <!--поиск-->
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <div th:each="element : ${filter}" class="alert alert-info mt-2">
            <h1 th:text="${element.title}"></h1>
            <p th:text="${element.full_text}"></p>
            <p th:text="${element.views}"></p>

            <a th:href="'/blog/' + ${element.id} + '/edit'"  class="btn btn-warning">Редактировать</a>
            <form th:action="@{delete_title}" method="post">
                <input type="hidden" name="title" th:value="${element.title}" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
           <!-- <form th:action="@{delete}" method="post">
                <input type="hidden" name="title" th:value="${element.title}" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>-->
<!--            <form th:action="'/blog/' + ${element.title} + '/remove'"><br><br>-->
<!--            <form th:href="@{filter/delete_title(title=${element.title})}" class="btn btn-warning"><br><br>-->
<!--                <button class="btn btn-warning" type="submit">Удалить</button>    это обычная кнопка удаления. не с фильтра-->
<!--                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->
<!--            </form>-->
        </div>
    </form>
    <div th:each="el : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"></h3>
        <p th:text="${el.anons}"></p>
        <a th:href="'/blog/' + ${el.id}" class="btn btn-warning">Подробнее</a>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>