<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Добавление статьи</h1>
    <form action="/blog/add" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="text" name="title" placeholder="Введите название статьи" class="form-control"><br>
        <input type="text" name="anons" placeholder="Введите анонс" class="form-control" value="asd"><br>
        <textarea name="full_text" placeholder="Введите полный текст статьи" class="form-control"></textarea><br>
        <input type="file" name="image" placeholder="фаил" class="form-control"><br>
        <button type="submit" class="btn btn-success">Добавить статью</button>
        <button type="reset" class="btn btn-success">ачистка</button>
    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>